<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/createdyr" method="POST">
    <div>
        <h3>Navn</h3>
        <input type="text" placeholder="navn" name="navn" required>
    </div>
    <div>
        <h3>Serienumber</h3>
        <input type="text" placeholder="Serienumber" name="Serienumber" required>
    </div>
    <div>
        <label for="flokk">flokker:</label>
        <select name="flokk" id="flokk" required>
          <% flokk.forEach(flokk => { %>
            <option value="<%= flokk._id %>">
              <%= flokk.navn %> - Buemerke: <%= flokk.Buemerke %>
            </option>
          <% }) %>
        </select>
    </div>
    <div>
        <h3>Dato</h3>
        <input type="date" placeholder="dato" name="dato" required>
    </div>
    <button type="submit">lag</button>
</form>
    
</body>
</html>

