<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hvordan man overfører reindyr til en annen person</h1>
    <p>logg inn, så gå på dashboard og trykk på mine flokker så stør det under en av dine reindyr overfør trykk på den og så velger du hvem du har lyst til og overføre til, trykk på og gjøre det.SÅ får andre karen får det opp i transactions og han må akksepetere og når han gjør det. så får du det sist opp i mine transaction og må akksepetere</p>
    <h1>spørsmål folk spør mye</h1>
    <h2>Hvordan registrerer jeg en ny konto/bruker?</h2>
    <p>Brukere må besøke /register og fylle ut skjemaet med navn, e-post, passord, telefonnummer, og velge en samisk språkgruppe.</p>
    <h2>Hvordan legger jeg til et nytt reinsdyr i systemet?</h2>
    <p>Etter innlogging, gå til dashbordet, klikk på "Legg reindyr i database", og fyll ut skjemaet med reinsdyrets navn, serienummer, flokk og dato. </p>
    <h2>Hvordan overfører jeg et reinsdyr til en annen eier?</h2>
    <p>Gå til "Mine flokker", finn reinsdyret, klikk på "Overfør til annen eier", velg den nye eieren og send inn.</p>
    <h2>Hvordan godtar jeg en reinsdyroverføring fra en annen eier?</h2>
    <p>Sjekk "Mine Transaksjoner" for innkommende transaksjoner som venter på din bekreftelse, og klikk deretter på "Bekreft" for å akseptere.</p>
</html>